.body {
  display: grid;
  grid-template-areas:
    "nav"
    "search"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  background: var(--background);
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  align-content: flex-start;
  margin: auto;
  margin-top: 0rem;
  grid-area: content;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  padding: 1em;
  grid-area: search;
}

.searchBar__input {
  padding: 0.75em;
  border: var(--outlineSize) solid var(--outline);
  border-radius: 3em;
  text-align: right;
  width: 100%;
  max-width: 40em;
  background-color: var(--surface);
  color: var(--onSurface);
}

.searchBar__searchBtn {
  padding: 0.75rem;
  margin-left: 1rem;
  border: 0rem;
  border-radius: 3rem;
  background-color: var(--primary);
  color: var(--onPrimary);
}

.searchBar__searchBtnText {
  display: block;
}

.searchBar__searchBtnIcon {
  display: none;
  width: 1rem;
  height: 1rem;
  filter: invert();
}

@media screen and (max-width: 23.4375rem) {
  .searchBar__searchBtnText {
    display: none;
  }
  .searchBar__searchBtnIcon {
    display: block;
  }
  .searchBar__searchBtn {
    border-radius: 50%;
    padding: 1rem;
  }
}

.blogsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2em;
  padding: 1em;
}

.blogCard {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 30em;
  border-radius: 1em;
  border: var(--outlineSize) solid var(--outline);
  background-color: var(--surface);
  color: var(--onSurface);
  box-shadow: rgb(0 0 0 / 3%) 0rem 0rem 1rem 0rem;
}

.blogCard__img {
  width: 100%;
  max-height: 15em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  object-fit: cover;
  border-radius: 1em 1em 0em 0em;
}

.blogCard__text {
  margin: 1em;
  opacity: var(--helperText, 0.6);
}

.blogCard__title {
  margin: 1rem;
  opacity: var(--primaryText);
}
.blogCard__linkWrapper {
  padding: 1em;
  align-self: flex-end;
  background-color: var(--primary);
  border-radius: 3em;
  margin: 1rem;
  margin-top: auto;
}

.blogCard__link {
  text-decoration: none;
  color: var(--onPrimary);
}
