@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&family=Roboto:wght@300&display=swap");

* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /**
  * Material Design Colors
  **/
  --primary: #000000;
  --onPrimary: #ffffff;
  --primaryContainer: #d6e2ff;
  --onPrimaryContainer: #001a43;
  --secondary: #3658b9;
  --onSecondary: #ffffff;
  --secondaryContainer: #dae1ff;
  --onSecondaryContainer: #00154f;
  --tertiary: #3658b9;
  --onTertiary: #ffffff;
  --tertiaryContainer: #dae1ff;
  --onTertiaryContainer: #00154f;
  --error: #ba1b1b;
  --errorContainer: #ffdad4;
  --onError: #ffffff;
  --onErrorContainer: #410001;
  --background: #fcfcfc;
  --onBackground: #1f1a1b;
  --surface: #ffffff;
  --onSurface: #1f1a1b;
  --surfaceVariant: #e1e2ec;
  --onSurfaceVariant: #44474f;
  --outline: #dadada;
  --inverseOnSurface: #faeeef;
  --inverseSurface: #352f30;
  --primaryInverse: #acc7ff;
  /**Color Opacities**/
  --primaryText: 0.87;
  --secondaryText: 0.6;
  --disabledText: 0.38;
  --outlineSize: 0.01rem;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

.nav {
  z-index: 1;
  border-bottom: var(--outlineSize) solid var(--outline);
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__logo {
  font-size: 2rem;
  flex-shrink: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary);
  letter-spacing: 0.2em;
}
.nav__list {
  display: inline-flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.nav__item {
  padding: 0.75em;
  margin: 0.25em;
  display: inline;
  border-radius: 2em;
}

.nav__item--active {
  background-color: var(--primary);
  color: var(--onPrimary);
  transition: all 0.3s ease-in-out;
}

.nav__item:hover {
  background-color: var(--primary);
  color: var(--onPrimary);
  transition: all 0.3s ease-in-out;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.nav__hamburger {
  background: transparent;
  border: 0;
  color: var(--onSurface);
  font-size: 2rem;
  cursor: pointer;
  margin-left: auto;
  display: none;
}

@media screen and (max-width: 940px) {
  .nav__list {
    display: none;
  }
  .nav__hamburger {
    display: block;
  }
  .nav__list--show {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 1.5em 0em;
  background-color: var(--surface);
  border-top: var(--outlineSize) solid var(--outline);
}

.footer__text {
  color: var(--onSurface);
  opacity: var(--secondaryText);
}
