.body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "nav" "main" "footer";
  background-color: var(--background);
}

.header__text {
  color: var(--onBackground);
  opacity: var(--primaryText);
  margin: 2rem 1rem;
}

.main {
  grid-area: main;
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow-x: auto;
}

.testimoniesTable {
  max-width: 50rem;
  padding: 3rem;
  border: var(--outline) solid var(--outlineSize);
  border-radius: 3rem;
  background: var(--surface);
  box-shadow: rgb(0 0 0 / 3%) 0rem 0rem 1rem 0rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 37.5rem) {
  .main {
    align-content: flex-start;
    align-items: flex-start;
  }
}

.testimoniesTable__image {
  border-radius: 50%;
  max-width: 10rem;
  aspect-ratio: 1/1;
  margin: 2rem;
}

.testimoniesTable__tesimony {
  color: var(--onSurface);
  opacity: var(--primaryText);
  font-size: 1rem;
  min-width: 30rem;
}

.testimoniesTable__rating {
  color: var(--onSurface);
  opacity: var(--primaryText);
  margin: 2rem;
  font-size: large;
}

@media screen and (max-width: 56.875rem) {
  .testimoniesTable__image {
    max-width: 5rem;
  }
  .testimoniesTable {
    padding: 1rem;
    border-radius: 1rem;
  }
}

.testimoniesTable__attestantInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.testimoniesTable__attestantName {
  color: var(--onSurface);
  opacity: var(--secondaryText);
}

.testimoniesTable__attestantPosition {
  color: var(--onSurface);
  opacity: var(--secondaryText);
}
